{{#each drafts as |draft|}}
<tr>
<td class="imagetablek"><img src="{{draft.image}}"/></td>
<td class="tablerk">{{draft.name}}</td>
<td class="tablerk">{{draft.position}}</td>
<td class="tablerk">{{draft.rank}}</td>
<td class="tablerk">{{draft.miscFPTS}}</td>
<td class="tablerk">{{draft.notes}}<span class="glyphicon glyphicon-pencil"></span></td>
<td class="tablerk">
<button class="btn btn-sm deleteDraft {{draft._id}}" id="deleteDraft" data-id="{{draft._id}}" type"submit">Remove</button>
</td>
</tr>
{{/each}}
