{{#each dsts as |dst|}}
<tr>
<td class="imagetable"><img src="{{dst.image}}"/></td>
<td class="tablerk">{{dst.player}}</td>
<td class="tablerk">{{dst.rank}}</td>
<td class="tablerk">{{dst.sack}}</td>
<td class="tablerk">{{dst.int}}</td>
<td class="tablerk">{{dst.fr}}</td>
<td class="tablerk">{{dst.ff}}</td>
<td class="tablerk">{{dst.assist}}</td>
<td class="tablerk">{{dst.safety}}</td>
<td class="tablerk">{{dst.ydsAGN}}</td>
<td class="tablerk">{{dst.miscFPTS}}</td>
<td>
  <div>
    <form id='createDraft'>
      <input type='hidden' name="draft[playerid]" value="{{../user}}{{dst._id}}"/>
      <input type='hidden' name="draft[name]" value="{{dst.player}}"/>
      <input type='hidden' name="draft[position]" value="DST"/>
      <input type='hidden' name="draft[image]" value="{{dst.image}}"/>
      <input type='hidden' name="draft[rank]" value="{{dst.rank}}"/>
      <input type='hidden' name="draft[miscFPTS]" value="{{dst.miscFPTS}}"/>
      <input type='hidden' name="draft[notes]" value="N/A"/>
      <button class="btn btn-sm" type="submit">
         Draft
      </button>
    </form>
  </div>
</td>
</tr>
{{/each}}
