{{#each dsts as |dst|}}
<ul>
<li>{{dst.player}}</li>
<li>{{dst.image}}</li>
<li>{{dst.rank}}</li>
<li>{{dst.sack}}</li>
<li>{{dst.int}}</li>
<li>{{dst.fr}}</li>
<li>{{dst.ff}}</li>
<li>{{dst.assist}}</li>
<li>{{dst.safety}}</li>
<li>{{dst.ydsAGN}}</li>
<li>{{dst.miscFPTS}}</li>
</ul>
<div>
  <form id='createDraft'>
    <input type='hidden' name="draft[playerid]" value="{{../user}}{{dst._id}}"/>
    <input type='hidden' name="draft[name]" value="{{dst.player}}"/>
    <input type='hidden' name="draft[position]" value="DST"/>
    <input type='hidden' name="draft[image]" value="{{dst.image}}"/>
    <input type='hidden' name="draft[rank]" value="{{dst.rank}}"/>
    <input type='hidden' name="draft[miscFPTS]" value="{{dst.miscFPTS}}"/>
    <input type="submit"/>
  </form>
</div>
{{/each}}
