{{#each dsts as |dst|}}
<ul>
<li>{{dst.player}}</li>
<li>{{dst.image}}</li>
<li>{{dst.rank}}</li>
<li>{{dst.sack}}</li>
<li>{{dst.int}}</li>
<li>{{dst.fr}}</li>
<li>{{dst.ff}}</li>
<li>{{dst.assist}}</li>
<li>{{dst.safety}}</li>
<li>{{dst.ydsAGN}}</li>
<li>{{dst.miscFPTS}}</li>
</ul>
{{/each}}
