{{#each qbs as |qb|}}
  <ul>
    <li>{{qb.player}}</li>
    <li>{{qb.image}}</li>
    <li>{{qb.rank}}</li>
    <li>{{qb.passATT}}</li>
    <li>{{qb.passCMP}}</li>
    <li>{{qb.passYDS}}</li>
    <li>{{qb.passTDS}}</li>
    <li>{{qb.passINTS}}</li>
    <li>{{qb.rushATT}}</li>
    <li>{{qb.rushTDS}}</li>
    <li>{{qb.miscFL}}</li>
    <li>{{qb.miscFPTS}}</li>
  </ul>
  <div>
    <form id='createDraft'>
      <input type='hidden' name="draft[playerid]" value="{{../user}}{{qb._id}}"/>
      <input type='hidden' name="draft[name]" value="{{qb.player}}"/>
      <input type='hidden' name="draft[position]" value="QB"/>
      <input type='hidden' name="draft[image]" value="{{qb.image}}"/>
      <input type='hidden' name="draft[rank]" value="{{qb.rank}}"/>
      <input type='hidden' name="draft[miscFPTS]" value="{{qb.miscFPTS}}"/>
      <input type="submit"/>
    </form>
  </div>
<hr/>
{{/each}}
