{{#each rbs as |rb|}}
<ul>
<li>{{rb.player}}</li>
<li>{{rb.image}}</li>
<li>{{rb.rank}}</li>
<li>{{rb.rushATT}}</li>
<li>{{rb.rushYDS}}</li>
<li>{{rb.rushTDS}}</li>
<li>{{rb.receivingREC}}</li>
<li>{{rb.receivingYDS}}</li>
<li>{{rb.receivingTDS}}</li>
<li>{{rb.miscFL}}</li>
<li>{{rb.miscFPTS}}</li>
</ul>
{{/each}}
