{{#each tes as |te|}}
<ul>
<li>{{te.player}}</li>
<li>{{te.image}}</li>
<li>{{te.rank}}</li>
<li>{{te.receivingREC}}</li>
<li>{{te.receivingYDS}}</li>
<li>{{te.receivingTDS}}</li>
<li>{{te.miscFL}}</li>
<li>{{te.miscFPTS}}</li>
</ul>
{{/each}}
