{{#each wrs as |wr|}}
<ul>

<li>{{wr.player}}</li>
<li>{{wr.image}}</li>
<li>{{wr.rank}}</li>
<li>{{wr.rushATT}}</li>
<li>{{wr.rushYDS}}</li>
<li>{{wr.rushTDS}}</li>
<li>{{wr.receivingREC}}</li>
<li>{{wr.receivingYDS}}</li>
<li>{{wr.receivingTDS}}</li>
<li>{{wr.miscFL}}</li>
<li>{{wr.miscFPTS}}</li>
</ul>
<form id='createDraft'>
  <input type='hidden' name="draft[playerid]" value="{{../user}}{{wrs._id}}"/>
  <input type='hidden' name="draft[name]" value="{{wrs.player}}"/>
  <input type='hidden' name="draft[position]" value="DST"/>
  <input type='hidden' name="draft[image]" value="{{wrs.image}}"/>
  <input type='hidden' name="draft[rank]" value="{{wrs.rank}}"/>
  <input type='hidden' name="draft[miscFPTS]" value="{{wrs.miscFPTS}}"/>
  <input type="submit"/>
</form>
</div>
{{/each}}
